/*
**	index.css
*/
@import "./[html-common]/style/html-common.css";



:root {
	--project-colour: limegreen;
	/* --project-accent: hsl(from var(--project-colour) calc(h + 74.00) s l / alpha); */
	/* --project-accent: rgb(from var(--project-colour) 255 g b / alpha); */
	--project-accent: lch(from var(--project-colour) l c calc(h + 300.00) / alpha);
}





html {

	--transition-duration: 0.5s;


	* {
		transition: all ease-in var(--transition-duration);
	}

	--scheme-colour: oklab(from var(--project-colour) 0.80 a b / alpha);
	--accent-colour: hsl(from var(--project-accent) h s 40 );

	margin:0em;
	padding:0em;
	color: lab( from var(--scheme-colour) calc(sign(l - 70) * -100) 0 0 / 1);
	accent-color: var(--accent-colour);

	body {
		margin:1em;
		padding:1em;
		border-radius:1em;
		background-color: var(--scheme-colour);
	}
	font-size: 16px;
	font-family: 'Noto sans', sans-serif;

}



html {
	color-scheme: light;
	accent-color: var(--accent);
	background-color: var(--html-background);
}


html[data-colourscheme=light] {
	color-scheme: light;
	--scheme-colour: white;
	--accent-colour:   hsl(from var(--project-accent) h s 40 );
	--html-background: hsl(from var(--project-colour) h s 90 / alpha);
}

html[data-colourscheme=dark] {
	color-scheme: dark;
	--scheme-colour: #0a0a0a;
	--accent-colour:   hsl(from var(--project-accent) h s 60 );
	--html-background: hsl(from var(--project-colour) h s 10 / alpha);
}



/*
**
*/
header {
	padding:1em;
	background-color: hsl(from var(--scheme-colour) h s l / 0.9);
	border-bottom: 2px solid var(--html-background);

	h1::before {
		content: none;
		/* content: url("./favicon.svg"); */
	}

	h1 {
		font-family: monospace;
		/* text-align: center; */
		font-size: 5ex;
	}
	.project-icon {
		img {
			display: inline-block;
			height:1.2ex;
			width:1.2ex;
		}

		img:hover {
			filter: drop-shadow(0px 0px 5px var(--accent-colour));
		}
	}
}


a {
	text-decoration-line: none;
	&:hover {
		color: var(--accent-colour);
		text-decoration-line: underline;
	}
}


main {
	display:grid;
	grid-template-columns: 1fr 1fr;

	h2 { grid-column-start: span 2; }
}

@media (orientation: portrait) {
	main {
		grid-template-columns: 1fr;
	}
}

img { height:5em; text-align:center; }

